<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
</head>
<body>

<h1>Welcome to the text analyazer. Enter your text below</h1>
<form action="/removepunc" method="get">
    <textarea name="text" id="" cols="30" rows="10" style="width: 967px; height: 227px;"></textarea><br>
    
    <input type="checkbox" name="removepunc" > REMOVE PUNCTUATIONS
    <br><input type="checkbox" name="fullcaps" > UPPERCASE
    <br><input type="checkbox" name="newlineremover" > NEW LINE REMOVER
    <br><input type="checkbox" name="extraspaceremover" > EXTRA SPACE REMOVER
    <br><button type="submit">Analyze Text</button>

</form>

</body>
</html>